*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.container{
    max-width:1000px;
    margin: 0 auto;
}
li{
    list-style: none;
   display: inline-block;
}
a{
    text-decoration: none;
}
.navbar{
    background: rgb(201, 187, 187);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.logo{
    background: rgb(241, 149, 149);
    padding: 15px;
    border-radius: 50%;
    color: white;
    margin-right: 250px;
}
.menu ul li a{
    margin: 0 5px;
    font-size: 20px;
    background: rgb(241, 149, 149);
    padding: 5px;
    border-radius: 5px;
    color: white;
}
.menu ul li a:hover{
    background: #000;
}
.btn{
   background-color: red;
   padding: 20px;
   font-size: 20px;
   border: none;
   border-radius: 10px;
   color: white;
}

/* banner section start here */
.banner{
background-image: url("images/Banner.jpg");
background-position: fixed;
background-repeat: no-repeat;
background-size: cover;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
}
.banner-content{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.banner-content h1{
    font-family: 'Handlee', cursive;
    font-weight: bolder;
    background: rgb(226, 80, 80);
    padding: 15px;
    border-radius: 8px;
}
.banner-content p{
    font-weight: bolder;
    margin: 20px auto;
    color: rgb(231, 247, 11);
    background: #000;
    border-radius: 10px;
    width: 80%;
   padding: 5px;
}
#about{
    text-align: center;
    height: 300px;
    margin: auto;
    padding: 20px;
}
#about h2{
    font-size: 50px;
    margin-bottom: 40px;
}
/* banner section end here */


/* food menu start here */
.food-menu h2{
    text-align: center;
    font-size: 35px;
}
.row1{
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
.card {
width: 300px;
text-align: center;
margin: 0 10px;
background: rgb(255, 0, 0);
color: white;
}
.card img{
    width: 100%;
    height: 200px;
}
/* food menu end here */


/* contact start here */
.contact h2{
    text-align: center;
    font-size: 35px;
}
.contact-details{
    text-align: center;
    background: rgb(11, 58, 90);
    color: white;
    padding: 10px;
    line-height: 30px;
}
/* contact end here */